.main{
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
      max-height:fit-content;
      width: 90%;
      background-color: #ffffff	;
      padding: 10px 5px 10px 20px;
      border-radius: 5px;

}

.header{
   width: 100%;
   display: flex;
   border-bottom: rgba(0, 0, 0, 0.4);
   justify-content: space-between;
}

.btn{
   background: transparent;
   border:none
}

.header p{
   font-size: 14px;
   font-weight: bold;
}
.user-item{
   padding: 5px 0px;
   margin-right: 15px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}